.banner {
    background: url(../images/main-banner.jpg) no-repeat top center/cover fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-shadow: 1px 2px 3px #00000070;
    h1 {
        font-size: 6.2rem;
        font-weight: bold;
        margin-top: 5%;
        a {
            color: inherit;
        }
    }
    p {
        font-family: $fontQuat;
        font-size: 1.8rem;
        animation: fadeIn 1s ease-in-out;
        animation-fill-mode: forwards;
        animation-direction: normal, alternate;
        color: #fff;
    }
    .down__btn {
        position: absolute;
        bottom: 10%;
        span {
            border: 1px solid transparent;
            display: inline-block;
            padding: 10px;
            width: 70%;
            border-radius: 3px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid #fff;
                background: transparent;
                transform: rotate(45deg);
            }
        }
    }
}

.consulting {
    padding: 6rem 0;
    .owl-nav {
        font-size: 4rem;
        color: $colorRed;
        button {
            position: absolute;
            top: 34%;
            transform: translateY(-50%);
            left: -50px;
            &:last-child {
                left: unset;
                right: -50px;
            }
        }
    }
    .owl-theme .owl-nav [class*=owl-]:hover {
        background: transparent;
        color: #212121
    }
    .owl-stage {
        .owl-item {
            &:nth-child(odd) {
                figure figcaption {
                    border-top-color: orange
                }
            }
        }
    }
    header {
        &+p {
            margin: 5rem 0;
            text-align: center;
        }
    }
    h2 {
        @include bigHeading;
    }
    figure {
        figcaption {
            background-color: #fff;
            border: 1px solid #eeeeee;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top: 3px solid $colorRed;
            width: 85%;
            margin: auto;
            padding: 1.5rem;
            text-align: center;
            margin-top: -50px;
            position: relative;
            z-index: 1;
            &::after {
                position: absolute;
                left: 50%;
                top: -3px;
                content: '';
                width: 0;
                height: 3px;
                background-color: #212121;
                transition: .3s ease-in;
                transform: translateX(-50%)
            }
            h3 {
                margin: 2rem 0 1.5rem;
                a {
                    font-size: 2rem;
                    color: #212121;
                    font-weight: bold
                }
                &:hover {
                    a {
                        color: $colorRed;
                    }
                }
            }
        }
        .fig-link {
            display: inline-block;
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            img {
                border-radius: 5px;
                transition: .3s linear;
                object-fit: cover;
                height: 26rem;
            }
            .span {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba($colorRed, .4);
                font-size: 2.5rem;
                color: #fff;
                transform: scale(0);
                transition: .3s ease-in-out;
                border-radius: 5px;
                backface-visibility: hidden;
                .fa {
                    border: 1px solid #fff;
                    padding: 1rem;
                    transition: .3s ease-in-out;
                    &:hover {
                        background-color: #fff;
                        color: $colorRed
                    }
                }
            }
        }
        &:hover {
            figcaption {
                &::after {
                    width: 100%;
                }
            }
            .fig-link {
                .span {
                    transform: scale(1);
                }
                img {
                    transform: scale(1.2)
                }
            }
        }
    }
}

.client {
    padding: 2rem 0 10rem;
    .pattern-img {
        animation: rotating 20s linear infinite;
        margin-top: 4rem;
    }
    h3 {
        font-size: 3.5rem;
        font-weight: bold;
        margin-bottom: 5rem;
    }
    p {
        max-width: 80%;
    }
    h5 {
        position: relative;
        @include bigHeading;
        font-family: $fontQuat;
        font-size: 1.5rem;
        padding-bottom: 15px;
        &::after {
            left: 0;
            transform: unset;
            width: 65px;
            bottom: unset;
            top: -2rem
        }
        &::before {
            left: 2rem;
            transform: unset;
            width: 25px;
            bottom: unset;
            top: -2rem
        }
    }
    .client-img {
        position: relative;
        ul {
            @include listStyle;
            li {
                position: absolute;
                top: 0;
                img {
                    transition: .2s linear;
                }
                &:nth-child(1) {
                    left: 0;
                    bottom: 10%;
                    top: unset;
                }
                &:nth-child(2) {
                    left: 30%;
                    top: -3rem;
                }
                &:nth-child(3) {
                    right: 5%;
                    bottom: -10%;
                    top: unset;
                }
                &:hover {
                    img {
                        position: relative;
                        z-index: 1;
                        box-shadow: 0 8px 15px #00000054
                    }
                }
            }
        }
    }
}

.hire__us {
    padding: 5rem 0;
    background-color: #f4f4f4;
    h3 {
        @include bigHeading;
        text-align: center;
        &::after {
            background: #fff;
        }
        &::after,
        &::before {
            bottom: unset;
            top: -1.5rem;
        }
    }
    .box {
        position: relative;
        background-color: #212121;
        margin-bottom: 3rem;
        overflow: hidden;
        border-radius: 5px;
        perspective: 1000px;
        &::before {
            content: '';
            background: $colorRed;
            position: absolute;
            top: 0%;
            left: 0;
            height: 100%;
            width: 100%;
            transform: scale(0);
            transition: .3s linear;
            perspective: 1000px
        }
        &:hover {
            &::before {
                transform: scale(1)
            }
            &>img {
                opacity: .1;
            }
            .box_content {
                img {
                    transform: rotateY(360deg);
                }
            }
        }
        &>img {
            opacity: .4;
            transition: .3s linear;
        }
        &_content {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 15px;
            text-align: center;
            h4 {
                color: #fff;
                font-size: 2.4rem;
                margin: 1rem 0 1.5rem;
                font-weight: bold;
                a {
                    color: inherit;
                    &:hover {
                        color: $colorRed;
                    }
                }
            }
            p {
                color: #fff;
            }
            img {
                transition: .5s ease-in-out;
                perspective: 1000px
            }
        }
    }
}

.testimonial {
    background: url(../images/img10.jpg) no-repeat top center/cover fixed;
    padding: 5rem 0 13rem;
    .owl-testimonial {
        .testimonial_img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
            border: 5px solid #fff;
            transition: .3s all;
        }
        .owl-nav {
            text-align: right;
            position: absolute;
            right: 0;
            bottom: -40%;
            button {
                background-color: $colorRed;
                border-radius: 5px;
                padding: .5rem;
                color: #fff;
                display: inline-block;
                font-size: 2rem;
                width: 3rem;
            }
        }
        &:hover {
            .testimonial_img {
                border-color: $colorRed
            }
        }
    }
    h3 {
        @include bigHeading;
        margin-top: 2rem;
        &::after,
        &::before {
            bottom: unset;
            left: 0;
            transform: unset;
            top: -10px
        }
    }
    p {
        font-family: $fontIstok;
        color: #000;
        font-style: italic;
        margin: 2rem 0 2rem;
        &::before {
            background: url(../images/qout.png) no-repeat top left;
            width: 24px;
            height: 19px;
            content: '';
            display: inline-block
        }
    }
    h6 {
        font-size: 1.6rem;
        color: #6a6a6a;
    }
}

.home__form {
    font-size: 1.6rem;
    form {
        text-align: left;
        margin: 2rem 0 0;
        label {
            font-size: 1.4rem;
            color: rgba(#000, .7);
        }
        .input-box {
            position: relative;
            .fa {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                border-left: 1px solid #cdcdcd;
                padding: 3px 15px 3px 10px;
                color: #898989;
            }
            input {
                height: 45px;
            }
            textarea,
            input {
                border-color: #efefef;
                box-shadow: inset 0 0 5px rgba(#000, .05);
                border-radius: 5px;
                font-size: 1.6rem;
                padding: 10px;
                caret-color: $colorRed;
                background-color: #f5f5f5;
                border: 1px solid #eeeeee;
                margin: 0 0 2rem;
                &:focus {
                    +.fa {
                        color: $colorRed;
                        border-color: $colorRed
                    }
                }
                &:not(:placeholder-shown) {
                    border-color: green;
                }
            }
        }
        .btn-danger {
            background-color: $colorRed;
            font-size: $colorRed;
            padding: 1rem 3rem;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.4rem;
            &:hover {
                background-color: #212121;
                color: #fff;
            }
        }
    }
}

.consulting {
    h2 {
        &::after,
        &::before {
            bottom: unset;
            top: -4rem
        }
    }
}